{% extends 'myapp/admin_base.html' %}
{% load static %}
{% block title %}Station Update{% endblock %}
{% block body %}
<center>
    <h2>Station Update</h2>
	<div class="container">
    <form role="form" name="frm" action="{% url 'admin_station_master_update' %}" method="post">
        {% csrf_token %}
		<input class="form-control" type="hidden"  id="id" name="id" name="{{id}}" required="required">
        <div class="form-group">
			<label for="station_name">station_name</label>
	        <input class="form-control" type="text"  id="station_name" name="station_name" value="{{psm.station_name}}" required="required">

		</div>
	    <div class="form-group">
			<label for="station_type">station_type</label>
	        <input type="text"  class="form-control" id="station_type" name="station_type" value="{{psm.station_type}}">
		</div>
		<div class="form-group">
			<label for="station_descp">station_descp</label>
			<textarea  class="form-control" id="station_descp" name="station_descp" >{{psm.station_descp}}</textarea>
		</div>

	    <div class="form-group">
			<label for="saddr">Address</label>
			<textarea class="form-control" id="saddr" name="saddr" placeholder="address" >{{psm.saddr}}</textarea>
            <input type="text"  class="form-control" id="spin" name="spin" value="{{psm.spin}}" >
		</div>
		<div class="form-group">
            <label for="place_id">Place</label>
            <select class="form-control" id="place_id"  name="place_id">
		        {% for  c in place_list%}
                <option value="{{c.id}}">{{c.place_name}}</option>
                {% endfor %}
            </select>
        </div>
	    <div class="form-group">
			<label for="s_contact1">Contact</label>
	        <input type="text"  class="form-control" id="s_contact1" name="s_contact1" value="{{psm.s_contact1}}">
			<input type="text"  class="form-control" id="s_contact2" name="s_contact2" placeholder="{{psm.s_contact2}}">
		</div>
		<div class="form-group">
			<label for="s_email">Email</label>
	        <input type="email" class="form-control" id="s_email" name="s_email" placeholder="{{psm.s_email}}"></td>
		</div>
        <button type="submit" class="btn btn-info" id="bt" name="bt">Update</button>
        <button type="reset" class="btn btn-info" id="rt" name="rt">Reset</button>
	    </table>
    </form>
	{{msg}}
	</div>
</center>
{% endblock %}