{% extends 'myapp/admin_base.html' %}
{% load static %}
{% block title %}Place List{% endblock %}
{% block body %}

<center>
    <h2><font color="#366092">Place List</font></h2>
<div class="container">
    <form name="frm" action="" method="post">
            {% csrf_token %}
        <input class="form-control" type="hidden"  id="district_id" name="district_id" value="{{district_id}}" required="required">
         <table class="table table-striped table-bordered auto-index">
      <thead>
        <tr>
            <th>Sl.No</th>
            <th>Name</th>

            <th>District</th>
            <th>Action</th>
        </tr>
        </thead>
        {% for l in place_list %}
             <tbody>
        <tr class="info ">
            <td></td>
            <td>{{ l.place_name }}</td>
            {% for sl in district_list %}
                {% if sl.id == l.district_id %}
                <td>{{ sl.district_name }}</td>
            {% endif %}
            {% endfor %}
            <td>
                <a href="../admin_place_master_delete?id={{l.id}}&district_id={{district_id}}" class="btn btn-danger" role="button">Delete</a>


            </td>
        </tr>
        </tbody>
        {% endfor %}
        </table>
        <br/>
        <a href="../admin_place_master_add?district_id={{district_id}}" class="btn btn-primary" role="button">Add Place</a>
    </form>
    {{msg}}
</div>
</center>
<style>
  form
  {
    counter-reset: Serial;
  }
  table
  {
  }
  .auto-index td:first-child:before
  {
    counter-increment: Serial;
    content:counter(Serial);
  }
</style>
{% endblock %}